* {
    box-sizing: border-box;
}

:root {
    --blue: #157AFF;
    --white: #FEFFFE;
    --grey: #8E8E8E;
    --black: #2B303A;;
    --beige: #FBF7F8;    
  }


body {
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}


section {
    width: 100%;
}


/* text styles */

.remark {
    /* font-size: 14.4px; */
    font-size: clamp(0.7rem, 0.9rem, 1.125rem);
    font-weight: 400;
    margin: 0;
}


.text-center {
    text-align: center;

}

.regular-text {

    /* font-size: 18px; */
    font-size: clamp(0.9rem, 1.125rem, 1.35rem);
    font-weight: 500;
    margin: 0;

}

.head-1 {
    /* font-size: 43.95px; */
    font-size: clamp(1.9rem, 2.19rem, 2.74rem);
    font-weight: 900;
    margin: 0;

}

.head-2 {
    /* font-size: 28.13px; */
    font-size: clamp(1.25rem, 1.75rem, 2.18rem);
    font-weight: 700;
    margin: 0;
}


.head-3 {
    /* font-size: 22.5px; */
    font-size: clamp(1rem, 1.40rem, 1.75rem);
    font-weight: 600;
    margin: 0;
}

.bold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.underline {

    text-decoration: underline;
}


/* color & filter styles */

.grey {
    color: var(--grey);
}

.white {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

.black {
    color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-grey {
    background-color: var(--grey);
}

.shadow {
    box-shadow: 0px 2px 8px 0px rgba(142, 142, 142, 0.40);
}

.pointer {
    cursor: pointer;
}

.filter-darken {

    filter: opacity(75%);
}

/* display styles */

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.invisible {
    visibility: hidden;
    opacity: 0;
}

.no-display {
    display:none;
}


.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.overflow-hidden {

    overflow: hidden;
}


.reduced-opacity {

    opacity: 0.7;
}

/* spacing styles */

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}


.m-bot-20 {
    margin-bottom: 20px;
}

.m-bot-40 {
    margin-bottom: 40px;
}

.m-bot-2 {
    margin-bottom: 2px;
}

.m-bot-5 {
    margin-bottom: 5px;
}

.m-bot-10 {
    margin-bottom: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-bot-60 {
    margin-bottom: 60px;
}

.m-bot-80 {
    margin-bottom: 80px;
}


.m-left-80 {
    margin-left: 80px;
}

.m-left-60 {
    margin-left: 60px;
}

.m-left-40 {
    margin-left: 40px;
}

.gap-40 {
    gap: 40px;
}

.gap-80 {
    gap: 80px;
}

.gap-20 {
    gap: 20px;
}


.gap-10 {
    gap: 10px;
}


.pad-left-40 {
    padding-left: 40px;
}

.pad-left-20 {
    padding-left: 20px;
}

.pad-right-40 {
    padding-right: 40px;
}

.pad-right-20 {
    padding-right: 20px;
}

.global-pad-60 {
    padding: 60px 60px 60px 60px;
}

.global-pad-80 {
    padding: 80px 80px 80px 80px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}


/* position styles */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {

    position: fixed;
}

.transform-center {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* individual sizing styles */


.down-notification {

    max-width: 320px;
    height: 60px;
    bottom: 40px;
    right: 60px;
}

.icon-box-50 {
    width: 50px;
    height: 50px;
}

.banner-dot {
    width: 15px;
    height: 15px;
    border-radius: 50px;
}


.icon-box-40 {
    width: 40px;
    height: 40px;
}

.icon-box-20 {
    width: 20px;
    height: 20px;
}

.icon-box-30 {
    max-width: 30px;
}


.like-box {
    bottom: 20px;
    right: 20px;
}


.pad-top-bottom-10 {

    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-top-bottom-20 {

    padding-top: 20px;
    padding-bottom: 20px;
}


.full-width {

    width: 100%;
}


/* border styles */

.rad-8 {

    border-radius: 8px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-6 {
    border-radius: 6px;
}

.rad-4 {
    border-radius: 4px;
}

/* id styles */


#nav-logo {
    max-width: 189px;
    margin-top: 60px;
}

#main-content {
    flex-grow: 1;
}

#nav-h2 {
    max-width: 227px;
    margin-top: 28px;
}

#btn-upgrade {
    border: none;
    padding: 18px 27px 18px 27px;
}

#playlist-box {

    /* max-width:456px;
    min-width: 380px; */
    flex-grow: 1;

}


#player-song {

    margin-bottom: 5px;
}

#player-cover {

    max-width: 150px;
}

#trend-head {

    width: 50%;
    /* max-width: 442px; */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        top: 200px;
    }
    to {
        opacity: 1;
       top: 0;
    }
}


#trend-cover {

    background-image: url("/assets/pictures/trend-bg.png");
    height: 268px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}


.fade-in {
    animation: fadeIn 1s forwards;
}

#listen-cta {
    margin: 0;
}

#player-cover {
    max-width: 150px;
    max-height: 150px;
    margin-top: 60px;
}

#search-box {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#trend-artist-pic {
    bottom: 0;
    right: 20px;
}

#player-box {
    width: clamp(360px, 420px, 460px);
}

#songs-upper-nav {

    top: 20px;
    right: 20px;
}

#songs-upper-next {

    font-weight: 300;
}

#player-timeline {

    height: 6px;
    background-color: white;
    border-radius: 2px;

}

#playhead {
    width: 15px;
    height: 15px;
    margin-top: 3px;

}

#modal-upgrade {
    max-width: 620px;
}


.circle {

    border-radius: 50%;
}

#overlay {

    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


#modal-upgrade-close-icon,
#modal-settings-close-icon,
#modal-sharing-close-icon {

    right: 20px;
    top: 20px
}


.settings-checkbox {
    width: 20px;
    height: 20px;
}


/* hover effects */

#nav-menu>div>div>div:nth-child(n+1)>p:hover {

    text-decoration: underline;
    color: var(--blue);
    font-weight: bold;
}


#player-share:hover,
#player-prev:hover,
#player-next:hover,
#player-settings:hover,
#shuffle:hover {

    filter: opacity(100%);
}


#btn-upgrade:hover,
#main-content>section.flex-col.m-bot-40>div.flex-row.gap-40>div>div>div:hover {

    background-color: #105CBF;

}

.gift-image {

    width: 80px;
    height: 82.5px;
}


.stroke-blue {
    stroke: var(--blue);
}

.stroke-white {
    stroke: var(--white);
}

.gap-200 {

    gap: 200px;
}

.global-pad-40 {

    padding: 40px;
}

.m-top-80 {
    margin-top: 80px;
}

.width-fit {

    width:fit-content;
}



#playlist-list>div>div>div.align-center.relative.pointer>img.icon-box-40.rad-6:hover {

    filter: brightness(75%);

}

#settings-icon:hover, #bell-icon:hover {

    background-color: var(--blue);
}



#playlist-list>div>div:nth-child(1)>div.align-center.relative.pointer>img.transform-center.z-1.absolute {

    filter: brightness(200%);
}


.brighten {

    filter: brightness(200%);
}

.darken {

    filter: brightness(0);
}

#player-share {

    width:20px;
}

#artist-dot-box {

    display: none;
}

#all-content {
    flex-grow: 1;
}

#artist-box-1 {
    flex-wrap: wrap;
}


